@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-color: #fd2c2a; */
    background-color: #FFFAFA;
    color: black;
    overflow-y: hidden;
}

canvas{
    pointer-events: none;
}

